<div>
    <div>
        <div>
            <div>

                <div>Hello World, voici le mail de {{ contact.firstname}} {{ contact.lastname }}</div>

                <p>
                    Au plaisir de de nouveau travailler avec vous, respectuesement, notre agence de vente de batiment immobilier en ligne. Maintenant je vais vous raconter une vanne :  Pourquoi dit-on que les poissons travaillent illégalement ? Parce qu’ils n’ont pas de FISH de paie. Voila c'est tout, à la prochaine {{ contact.firstname }}
                </p>

            </div>
        </div>
    </div>
</div>